<% title "DHCP Reservations for #{@subnet}" %>
<% title_actions button_group(link_to_if_authorized _('New DHCP Record'), hash_for_new_subnet_dhcp_path(params[:subnet_id])) %>
<table class="<%= table_css_classes 'table-condensed' %>" data-table="inline">
  <thead>
  <th>Name</th>
  <th>IP</th>
  <th>MAC</th>
  <th></th>
  </thead>
  <tbody>
  <% @entries.reservations.each do |entry| %>
    <tr>
      <td><%= display_link_if_authorized(entry.try(:hostname), hash_for_subnet_dhcp_path(:id => entry.mac, :subnet_id => params[:subnet_id])) %></td>
      <td><%= entry.ip %></td>
      <td><%= entry.mac %></td>
      <td>
        <%= action_buttons(
#TODO               display_link_if_authorized(_("Edit"), hash_for_edit_subnet_dhcp_path(:id => entry.mac, :subnet_id => params[:subnet_id])),
                    display_link_if_authorized(_('Details'), hash_for_subnet_dhcp_path(:id => entry.mac, :subnet_id => params[:subnet_id])),
                    display_delete_if_authorized(hash_for_subnet_dhcp_path(:id => entry.mac, :subnet_id => params[:subnet_id]), :confirm => _('Delete %s?') % entry, :action => :destroy)) %>
      </td>
    </tr>
  <% end -%>
  </tbody>
</table>
